<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">BlogBee</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">

          <li class="nav-item">
            <a class="nav-link" routerLink="">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="Help">Help</a>
          </li>
        
        </ul>
        <form class="d-flex">
          <input class="search-box" id="search" type="search" placeholder= "search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button class="nav-button" routerLink="signin" style="width:auto;">Sign in</button>
          </li>
          <!-- This is Signup button part -->
          <li class="nav-item">
            <button class="nav-button" routerLink="signup" style="width:auto;">Sign Up</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
